<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Vote
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Poll : </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row col-9">
          <h4 class="fw-bold text-center mt-1"></h4>
          <form class="px-4" action="">
            <p class="fw-bold">How satisfied are you with our product? </p>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
              <label class="form-check-label" for="radioExample1">
                Option 1
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
              <label class="form-check-label" for="radioExample2">
                Option 2
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
              <label class="form-check-label" for="radioExample3">
                Option 3
              </label>
            </div>


          </form>

        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" data-mdb-button-init data-mdb-ripple-init data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- You can add more buttons here if needed -->
      </div>
    </div>
  </div>
</div>
