<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  (click)="AddVote(pollId)"
>
  Add Vote
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Poll : {{ title }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row col-9">
          <h4 class="fw-bold text-center mt-1"></h4>

          <!-- poll.component.html -->
          <form class="px-4" action="">
            <ul class="list-unstyled">
              <li *ngFor="let question of questions">
                <h3>{{ question.text }}</h3>
                <ul>
                  <li *ngFor="let option of question.options">
                    {{ option.description }}
                    <!-- <a href="#" (click)="vote(option.optionId)">{{ option.description }}</a> -->
                  </li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"

          data-bs-dismiss="modal"
          class="btn btn-primary"
        >
          Submit
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- You can add more buttons here if needed -->
      </div>
    </div>
  </div>
</div>
